---
layout: default 
help:
 - icon: fas fa-laptop
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
 - icon: fas fa-globe-americas
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
 - icon: fas fa-seedling
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!

---  

{% include header-nav.html %}     

  <section class= " grid-middle padded-05 tall-70 bg-image bg-headerimage bg-overlay bg-overlay-gradient">
        <div class="col-12 padded">
            <h2 class="title editable sm-text-center"data-aos="fade-in" data-aos-duration="2000">Connect with us. </h1>
            <h3 class="sub-title sm-text-center"> Lorem ipsum dolor sit amet consectetur. </h3>
        </div>

    </div> 

</section>

    <!----Contact form-->
<section class="padded bg-dark">

    <h2 class="padded-sm"> We want to hear from YOU! </h2>
    <div class="padded-sm">
    <form>
        <label for="_name"> Your Name </label>
        <input type="text" name="_name" id="_name" placeholder="Name" />
    
        <label for="_replyto"> Your Email </label>
        <input type="email" name="_replyto" id="_replyto" placeholder="Email" />
    
        <label for="message"> Tell me what your interested in... </label>
        <textarea name="message" id="message" placeholder="Hey, I'm Joe and I need a functional website for my business..."></textarea>
    
        <button type="submit" class="button"> SUBMIT </button>
    </form>

</div>

</section>

<!------- photo section ------->

<section class="grid padded">
    <div class=" padded bg-image bg-design4 col-7_sm-12 tall-70">
    </div>
    <div class="col-5_sm-12-middle padded">
            <h2> working<span class="bold featured-text"> together</span>.</h2>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>
    </div>
</section>


<!----Icon Section-->

<section class="padded grid-center bg-light">
    <div class="col-12 center"> 
        <h2 class="big-text"> how we can help you!</h2>
    </div>

{% for item in page.help %}
    <div class="padded-sm col-4_sm-12 center">
        <span class="medium-text featured-text"><i class="{{item.icon}}"></i></span>
        <p>{{item.description}}</p>
    </div>

    {% endfor %}

</section>

<!------ Quotes ------->

<section class="padded grid bg-image bg-palm">
       
    <div class="col-1 right">
        <span class="quote-icon"> 	
            &#10077;</span>
    </div>
    </div>
    <div class="col-10 center">  
        <p class="medium-text"> <span class="bold">ALOHA </span> - love, kindness, unity, harmony, agreeable, humility, patience and perseverance.  </p> 
        <p class="subtitle">- we vow to design with aloha</p>
     </div>
    <div class="col-1">
        <span class="quote-icon">&#10078;</span>
    </div>
   
</section>


 