---
layout: default 
offers:
 - icon: fas fa-laptop
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
 - icon: fas fa-globe-americas
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
 - icon: fas fa-seedling
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
 - icon: fas fa-glasses
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam doloremque, possimus tempore sed ullam architecto nobis nostrum delectus repudiandae modi mollitia alias!
---

{% include header-nav.html %}

      <section class=" grid-middle padded-05 tall-80 bg-image bg-headerimage bg-overlay bg-overlay-gradient">
            <div class="col-12 padded">
                <h2 class="title editable sm-text-center" data-aos="fade-in" data-aos-duration="2000">
                    Created with Aloha
                </h2>
                    <h3 class="sub-title sm-text-center editable"> the perfect harmony between design and code.</h3>
            </div>

         
    </section>

    <!------ what we have Section ------->
    <section class="grid">
        <div class="padded col-6_sm-12-middle">
            <h2 class="sm-text-center editable">
                designs from the <span class="bold featured-text">heart</span>.
            </h2>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>

        </div>
        <div class="bg-image bg-computer col-6_sm-12 tall-70"> </div>

        <div class="bg-image bg-cactus col-6_sm-12 tall-70 hide-sm"> </div>

        <div class="padded col-6_sm-12-middle">
            <h2 class="sm-text-center"> all about the <span class="bold featured-text">code</span>.<div></div></h2>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>
            <p class="editable">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?
            </p>
    
        </div>
    </section>

      <!------ offers icon grid ------->
    <section class="padded grid bg-dark">
        <div class="col-12 center"> 
            <h2 class="big-text sm-text"> what we offer.</h2>
        </div>

        {% for item in page.offers %}

        <div class="padded-sm col-3_sm-6_xs-12 xxs-stack center">
            <span class="medium-text sm-text"> <i class="{{item.icon}}"></i> </span>
            <p>{{item.description}}</p>
        </div>
        
        {% endfor %}

    </section>

    <!------ BANNER ------->

    <section class="grid padded center bg-palm bg-image tall-40">
        <div class="col-12-middle">
            <h2 class="big-text"> making designs <span class="bold">come to life</span>!</h2>
            <h3 class="medium-text"><em>...one project at a time</em></h3>
        </div>
    </section>

    <!------ Quotes ------->

    <section class="padded grid bg-light">
       
        <div class="col-1 right">
            <span class="quote-icon"> 	
                &#10077;</span>
        </div>
        
        <div class="col-10 center">  
            <p class="medium-text">I had a vision and they made it happen. Excellent Client interactions! Thank you Aloha Web Designs!</p> 
            <p class="subtitle">- a happy client</p>
         </div>
        <div class="col-1">
            <span class="quote-icon">&#10078;</span>
        </div>
       
    </section>
