---
layout: default 
promise:
 - heading: first little heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa excepturi veniam.
 - heading: second little heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt.Provident asperiores incidunt.
 - heading: third little heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt.Provident asperiores incidunt.
 - heading: fourth little heading
   description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores incidunt sapiente at quam ipsa.
cards:
 - heading: first card heading
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quod inventore suscipit ducimus nihil nesciunt! Quo tenetur expedita incidunt, placeat similique ab veritatis aut.
   featured_image: /images/aloha-design4.jpg
 - heading: second card heading
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quod inventore suscipit ducimus nihil nesciunt! Quo tenetur expedita incidunt, placeat similique ab veritatis aut.
   featured_image: /images/computer.jpg
 - heading: third card heading
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione quod inventore suscipit ducimus nihil nesciunt! Quo tenetur expedita incidunt, placeat similique ab veritatis aut.
   featured_image: /images/vert.jpg 
---  

{% include header-nav.html %}   


  <section class= " grid-middle padded-05 tall-80 bg-image bg-headerimage bg-overlay bg-overlay-gradient">
        <div class="col-12 padded">
            <h2 class="title editable sm-text-center"> Portfolio. </h1>
            <h3 class="sub-title sm-text-center"> Lorem ipsum dolor sit amet consectetur. </h3>
        </div>

    </div> 

</section>

<!-- Icon Section -->

<section class="padded grid-center bg-dark">
    <div class="col-12 center"> 
        <h2 class="big-text"> our promise...</h2>
    </div>
    {% for item in page.promise %}
    <div class="padded-sm col-3_sm-12">
        <h3 class="dark-text center"> {{item.heading}}</h3>
        <p> {{item.description}} </p>
    </div>
    
    {% endfor %}

</section>


<!---Cards--->
<section class="grid-center padded">
    {% for item in page.cards %}
    <div class="col-4_sm-12 padded-sm">
        <div class="card">
            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}');"></div>
            <div class="padded">
                <h3> {{item.heading}}</h3>
                 <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}

</section>

<!------ BANNER ------->

<section class="grid padded center bg-header bg-image tall-50">
    <div class="col-12-middle">
        <h2> functional, responsive websites </h2>
        <h2 class="big-text"> <span class="bold">guaranteed</span> to boost your business</h2>
    </div>
</section>

<!------ Packages Section ------->
<section class="grid">
    <div class="padded col-6-middle">
        <h2> portfolio project <span class="bold featured-text">photography</span>.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
    </div>
    <div class="bg-image bg-portfolio col-6_sm-12 tall-70"> </div>
    <div class="bg-image bg-portfolio col-6 hide-sm tall-70"> </div>
    <div class="padded col-6-middle hide-sm">
        <h2> portfolio project <span class="bold featured-text">yoga</span>.<div class=""></div></h2>
        <p class="editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p class="editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p class="editable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
    </div>
    <div class="padded col-6-middle">
        <h2> portfolio project<span class="bold featured-text">coffee shop</span>.</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque ad nisi inventore ipsa, explicabo officiis architecto iusto aliquid hic quis incidunt fugit minus quaerat porro tenetur quod pariatur voluptatem tempore?</p>
    </div>
    <div class="bg-image bg-portfolio col-6 tall-70"> </div>
</section>
