<footer class="padded grid-spaceAround bg-footer center">
    <div class="col-4"></div>
    <div class="col-4-middle">
        <h2 class="bold sm-padded-05"> aloha WD </h2> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Ab eum qui dignissimos excepturi reiciendis dolor amet illum, quaerat voluptatem eligendi? Dolorum perspiciatis, vel molestias ut fuga ipsum vero Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="col-4"></div>
    
    <nav class="col-5 sm-padded-05 featured-text">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
    </nav>
    <div class=" col-12-middle copyright">
      <p> Copyright 2021 </p>
    </div>

</footer>