    <!---- Header Nav-->

    <header class="grid">

        <div class="header-nav col-12-top grid">
            <div class="col-4_sm-12-middle sm-text-center">
                <a href="/index.html">
                    <h1 class="logo">Aloha Web Designs. </h1>
                </a>
            </div>
            <nav class="col-8_sm-12-middle right sm-text-center mob-hide">
                <a href="/about.html"> About</a>
                <a href="/portfolio.html"> Portfolio</a>
                <a href="/services.html"> Services </a>
                <a href="/contact.html"> Work With Us</a>
            </nav>
        </div>
        <div class="col-7_sm-12 right">
            <a class="hamburger-button mob-show center big-text"> &#9776; </a>
          </div>
          <div class="mobile-menu center"> 
            <nav> 
                <a href="/about.html"> About</a>
                <a href="/portfolio.html"> Portfolio</a>
                <a href="/services.html"> Services </a>
                <a href="/contact.html"> Work With Us</a>
            </nav>
      </div> 
  </header>